{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
      "project": "./tsconfig.json"
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "prettier",
    "next"
  ],
  "ignorePatterns": ["next.config.js", "sw.js"],
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off"
  }
}
